.note {
    background-color: #2d1e2c;
    width: 50%;
    height: 500px;
    border-radius: 10%;
}

.note__form {
    border-radius: 10%;
    max-height: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.note__header {   
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px;
}

.note__text {   
    line-height: 16px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    resize: none;
    font-size: x-large;
    height: 350px;
    border-radius: 10%;
    padding: 20px;
    line-height: 25px;
}
